.bg-img{
	background: url('a3.png') no-repeat;
	background-size:cover;
  background-position: center;
  height: 100%;
}

#menu, #menu ul
{
	list-style: none;
	border: 1px solid #000;
	background-color: black;
	padding: 0 0 25px 0;
	margin: 0;
    height: 20px;
    z-index: 1;
}
li img{
	height: 20px;
	width: 20px;
	margin-top:5px;
}
#menu li
{
	
	float: left;
	margin-right: 3px;
    padding-left: 15px;
    padding-right: 15px;
	position: relative;
    padding-top: 10px;
    background-color: black;
}
#menu ul
{
	position: absolute;
	top: 25px;
	left: -1px;
	width: 150px;
	padding: 0;
	display: none;
    margin-top: 10px;
}
#menu ul li
{
	float: none;
	margin: 0;
	padding: 0;
	line-height: 20px;
}
#menu a:link, #menu a:visited
{
	display: block;
	font-family: Tahoma;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	color: #fff;
	padding: 7px;
}
#menu li:hover
{
	background-color: #5a5a5a;
    height: fit-content;
}
#menu li:hover ul
{
	display: block;
}
.column {
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 30%;
    padding: 15px;
    color:#fff
    
  }
  
  .row {
    /* margin: 0 -5px; */
    text-align: center;
    padding-top:40px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card {
    padding: 14px;
    text-align: center;
    background: rgba(3, 3, 3, 0.274);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 15px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);

  }
  

